@using Property_Management.Models

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">小区物业管理系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            @{
                var account = Session["Account"] as AccountInfo;
                if (account != null) {
                    if (account.IsAdmin) {
                        <ul class="nav navbar-nav">
                            <li><a href="#">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#contact">Contact</a></li>
                            <li class="dropdown" id="liOwnerManage">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">住户管理 <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">现有住户</a></li>
                                    <li><a href="#">搬走住户</a></li>
                                </ul>
                            </li>
                            <li class="dropdown" id="liHouseManage">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">房产管理 <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">楼栋管理</a></li>
                                    <li><a href="#">房屋管理</a></li>
                                </ul>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@account.Name <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">修改密码</a></li>
                                    <li><a href="#">注销</a></li>
                                </ul>
                            </li>
                        </ul>
                    }else {

                    }
                }
            }
            
        </div>
    </div>
</nav>

