
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <title>修改密码</title>
    @Styles.Render("~/bundles/css/bootstrap")

    <link rel="stylesheet" type="text/css" href="~/css/Common.css" />

    <style>
    </style>
</head>
<body>
    @{Html.RenderAction("GetHeader", "Account"); }

    <div class="container">

        <form class="my-form-login">
            <div class="form-group">
                <h2>修改密码</h2>
            </div>
            <div class="form-group my-input-group">
                <label for="inputEmail" class="sr-only">原密码</label>
                <input type="password" id="inputOldPassword" class="form-control" placeholder="原密码" maxlength="20" validate-type="required length" validate-minLen="6" validate-maxLen="20" autofocus data-toggle="popover" data-placement="right">
                <label for="inputPassword" class="sr-only">新密码</label>
                <input type="password" id="inputNewPassword" class="form-control" placeholder="新密码" maxlength="20" validate-type="required length" validate-minLen="6" validate-maxLen="20" data-toggle="popover" data-placement="right">
            </div>
            <button type="button" id="btnLogin" class="btn btn-lg btn-primary btn-block">修改</button>
        </form>

    </div>

    @Scripts.Render("~/bundles/js/jquery_bootstrap")

    <script src="~/js/Common.js"></script>

    <script>
        $(function () {
            //初始化popover组件
            $("[data-toggle='popover']").popover(Common.popoverOptions);

            //登录按钮点击事件
            $("#btnLogin").click(function () {
                let $this = $(this);
                if (Common.validateForm($(this).parent("form"))) {
                    $.ajax({
                        url: "/AdminInfo/DoChangePassword",
                        method: "post",
                        data: {
                            oldPassword: $("#inputOldPassword").val(),
                            newPassword: $("#inputNewPassword").val()
                        },
                        success: function (res) {
                                alert(res.Msg);
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            Common.ajaxError(XMLHttpRequest, textStatus, errorThrown);
                        },
                        beforeSend: function () {
                            $this.attr("disabled", true);
                        },
                        complete: function () {
                            $this.attr("disabled", false);
                        },
                    });
                }
            });
        });
    </script>
</body>
</html>
