body {
    padding-top: 70px;
    background-color: #eee;
}

.my-datatables th, .my-datatables td {
    text-align: center;
}

/*dataTable加载时的提示框样式*/
.dataTables_processing {
    border-color: #808080 !important;
    height: 60px !important;
    background-image: none !important;
    background-color: white !important;
}

.my-toolbar {
    margin-top: 15px;
}

td .my-innerDiv{
}

/*select组件的搜索框样式*/
.bs-searchbox .form-control{
    padding: 2px 10px;
    height: auto;
}